@charset "UTF-8";

*{
    margin:0;
    padding:0;
}

@font-face {
    font-family:'Passion One' ;
    src: url(fonts/PassionOne-Bold.ttf);
}
@font-face {
    font-family: 'sriracha' ; 
    src: url(fonts/Sriracha-Regular.ttf);
}

header{
    height: 200px ;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Passion One' ;    
}

a{
    
    color: white;
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    text-decoration: underline;
}
span{
    font-size: 70px;
}
h1{
    text-transform: uppercase;
    font-family: 'Passion One' ;
    font-size: 3em;
    padding: 50px 0px 8px 0px;
}

main{
    font-family: 'sriracha' ;
}
section {
    margin: 80px 0px 0px 15px;
}
#img1{
    padding: 80px 0px 80px 15px;
    color: white;
    margin:0;
    background: url(imagens/background001.jpg) right center no-repeat fixed;
    background-size:cover;
}
#img2{
    color: white;
    padding: 80px 0px 80px 15px;
    margin: 0;
    background: url(imagens/background002.jpg) right center no-repeat fixed;
    background-size:cover;
}
.pg{
    background-color: rgba(0, 0, 0, 0.411);
    width: 180px;
    padding: 8px;
}
.ajuste{
    padding:25px 0px 0px 0px
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
    margin: 40px 0px 0px 0px;
}
