@charset "UTF-8";

*{
    margin:0;
    padding:0;
}
html, bady{
    background-color: darkgray;
    min-height: 100vh;
}

@font-face {
    font-family:'Passion One' ;
    src: url(fonts/PassionOne-Bold.ttf);
}
@font-face {
    font-family: 'sriracha' ; 
    src: url(fonts/Sriracha-Regular.ttf);
}
header{
    height: 200px ;
    text-align: center;
    background-image:linear-gradient(to top,#12380f 30%,#153d10fa);
    color: white;
    font-family: 'Passion One' ;    
}
header p{
    padding-bottom: 50px;
    
}
a{
    
    color: white;
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    text-decoration: underline;
}

h1{
    font-variant: small-caps;
    font-family: 'Passion One' ;
    font-size: 3em;
    padding-top: 50px;
}

main{
    font-family: 'sriracha' ;
      
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}
#img1{
    color: white;
    background: url(imagens/background001.jpg) right center no-repeat fixed;
    background-size:cover;
}
#img2{
    color: white;
    background: url(imagens/background002.jpg) right center no-repeat fixed;
    background-size:cover;
}
.pg{
    background-color: rgba(0, 0, 0, 0.411);
    width: 180px;
    padding: 8px;
}
.ajuste{
    padding:25px 0px 0px 0px
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
    margin: 40px 0px 0px 0px;
}
/*
pre{
    white-space: pre-line;
    font-family: 'sriracha' ;
}
*/
